.profile_changepass {
  border: 1px solid #f2f2f2;
  flex-basis: 100%;
  padding: 30px 20px;

  h3 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 1.6;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .invalid_message {
      margin-top: 0px;
      margin-bottom: 5px;
      height: 0;
      overflow: hidden;
      animation: heightAnimation 0.3s linear;
      animation-fill-mode: forwards;
    }
    div {
      display: flex;
      flex-direction: column;
      p{
        margin-bottom: 9px;
      }
      input {
        padding: 5px 8px;
        outline: none;
        border: 2px solid #ddd;
        margin-bottom: 3px;
        &:focus {
          border: 2px solid var(--primary-color);
        }
      }
    }
    button {
      cursor: pointer;
      width: 150px;
      padding: 10px 0;
      transition: 0.3s;
      align-self: flex-end;
      border: 1px solid var(--primary-color);
      background-color: var(--primary-color);
      color: var(--text-color-white);
      text-align: center;
      svg {
        position: absolute;
        left: 15px;
      }

      &:hover {
        color: var(--primary-color);
        background-color: transparent;
      }

      &:disabled {
        background-color: #ddd;
        border-color: #ddd;
        color: #000;
        cursor: not-allowed !important;
      }
    }
  }
}
