@import "../../../../mixins.scss";
.profile_sidebar {
  padding: 30px 20px;
  width: 100%;
  @include tablet {
    width: 100%;
  }
  h3 {
    margin-bottom: 20px;
    font-weight: 500;
    span {
      font-weight: 700;
    }
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      width: 220px;
      a {
        cursor: pointer;
        font-size: 1.2rem;
        padding: 22px 20px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        transition: 0.2s linear;
        div {
          background-color: transparent;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        &.active {
          color: orange;
        }
      }
      &:last-child {
        background-color: var(--primary-color);
        transition: 0.2s linear;
        border-bottom: none;
        button {
          cursor: pointer;
          background-color: transparent;
          color: #fff !important;
          border: none;
          transition: 0.2s linear;
          width: 100%;
          font-size: 1.2rem;
          padding: 22px 20px;
          justify-content: start;
          display: flex;
          align-items: center;
          gap: 15px;
        }
        &:hover {
          background-color: orangered;
          button {
            color: #fff !important;
          }
        }
      }
    }
  }
}
