.register_page {
  height: 100vh;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 187, 56, 1) 100%
  );

  & > a {
    position: absolute;
    margin: 20px;
    margin-top: 20px;
    color: #000;
    font-weight: 600;
    transition: 0.2s linear;
    &:hover {
      background-color: #fff;
      color: var(--primary-color);
    }
  }

  &--content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-shadow: -1px -1px 67px 12px rgba(105, 101, 101, 0.66);
    background-color: #fff;
    padding: 50px 80px;
    width: 600px;

    h3 {
      font-size: 2.3rem;
      margin: 15px 0 30px 0;
      padding-bottom: 10px;
      color: var(--primary-color);
      letter-spacing: 1px;
      border-bottom: 4px solid var(--primary-color);
    }

    .input {
      width: 80%;
      height: 30px;
      border: none;
      outline: none;
      padding: 20px 15px;
      background-color: #f5f5f5;
      border-radius: 7px;
      margin: 0 auto;
      margin-top: 20px;
    }
    .cover_input {
      width: 80%;

      input {
        width: 100%;
      }
      i {
        right: 10px;
        top: calc(50% + 20px);
        cursor: pointer;
        transform: translateY(-50%);
      }
    }

    .submit_btn {
      border: none;
      outline: none;
      height: 45px;
      width: 50%;
      margin: 30px 0;
      background-color: var(--primary-color);
      border-radius: 25px;
      font-size: 1.3rem;
      color: #fff;
      font-weight: 700;
      transition: all 0.3s ease;
      position: relative;
      svg {
        position: absolute;
        left: 20px;
        height: 20px;
        width: 20px;
      }
      &:disabled {
        background-color: #ccc;
        color: #fff;
        border: none;
        cursor: not-allowed;
      }
      &:hover {
        background-color: #fff;
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }
      & + p {
        margin-bottom: 15px;
      }
    }

    .social_login {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      button {
        border-radius: 50%;
        padding: 5px;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.2);
          img {
            transform: scale(0.5);
          }
        }

        &:first-child {
          background-color: #3b5998;
        }
      }
      img {
        height: 30px;
        width: 30px;
        object-fit: contain;
        transition: all 0.3s ease;
      }
    }

    .no_account {
      margin-top: 25px;
      font-size: 1.2rem;
      color: #000;
      font-weight: 500;
      a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: 700;
        text-decoration-line: underline;
      }
    }
  }
}

.invalid_message {
  color: red;
  margin-top: 10px;
}
