.locationheader {
  background-color: var(--primary-color);
  &--content {
    display: flex;
    justify-content: space-between;
    height: 70px;
  }

  &--list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 70px;
    position: relative;
    &__categories {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      background-color: #fff;
      height: 60px;
      width: 250px;
      align-self: flex-end;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      &__leftside {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &--absolutecategories {
        position: absolute;
        top: 200px;
        left: 0;
        background-color: #fff;
        width: 100%;
        box-shadow: 0 1.2rem 3rem #555;
        opacity: 0;
        transition: 0.3s;
        pointer-events: none;
        z-index: 2;
        li {
          padding: 20px 0 20px 10px;
          margin-bottom: 5px;
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          transition: 0.3s;
          &:not(:last-child) {
            border-bottom: 1px solid #ddd;
          }
          width: 250px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          .absolutecategories--leftside {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
          }

          &:hover {
            background-color: var(--primary-color);
            color: #fff;
            svg {
              transform: translateX(5px);
              transition: 0.3s;
            }
          }
        }
      }

      &:hover {
        .locationheader--list__categories--absolutecategories {
          opacity: 1;
          top: 70px;
          pointer-events: all;
        }
      }
    }
    &__items {
      a {
        font-weight: 500;
        color: #000;
      }
    }
  }
  &--seller {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 5px;
      background-color: #000;
      color: #fff;
      font-weight: 600;
      border: none;
      outline: none;
    }
  }
}
