@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/pagination";
@import "../../mixins.scss";
.intro {
  margin-top: 20px;
  &--content {
    img {
      width: 100%;
    }
  }
}

.our--diff {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 30px 0;
  border: 1px solid #eee;
  &__el {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    padding: 2.3rem 0;
    i {
      font-size: 32px;
      margin-right: 12px;
      color: var(--primary-color);
    }
    h4 {
      font-size: 14px;
      color: var(--text-color);
    }
    p {
      font-size: 13px;
      color: var(--text-color-light);
    }
  }
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: 1fr;
    padding: 0;
    &__el {
      padding: 1rem 0;
      width: 60%;
      i {
        font-size: 20px;
      }
      h4 {
        font-size: 13px;
      }
      p {
        font-size: 11px;
      }
    }
  }
}

.promotions--section {
  margin: 20px 0 150px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 0 10px;
  padding: 0 10px;
  @include desktop {
    margin-bottom: 50px;
  }
  @include tablet {
    grid-template-columns: 1fr;
  }
  &__promo {
    background-size: cover;
    height: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 0 30px;

    p:first-child {
      font-size: 16.2px;
    }
    h5 {
      font-size: 23.4px;
      font-weight: 800;
    }
    p:nth-of-type(2) {
      font-size: 23.4px;
      margin-bottom: 30px;
    }
    p:last-child {
      font-size: 12.6px;
    }

    &.dark {
      p:first-child {
        color: #c4c4c5;
      }
      h5,
      p:nth-of-type(2),
      p:last-child {
        color: #fff;
      }
    }
  }
}

.gamer_world {
  &--head {
    font-size: 2rem;
    span {
      color: var(--primary-color);
      font-weight: 500;
    }
    @include extra-small {
      font-size: 1.5rem;
    }
    @include extra-extra-small {
      font-size: 1.1rem;
    }
  }
  .productsList {
    @include desktop {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
  }
}

.popular_sales {
  margin: 50px 0;
  &--content {
    width: 100%;
  }

  &--head {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    button {
      height: 50px;
      width: 150px;
      border: 1px solid var(--primary-color);
      outline: none;
      font-size: 16px;
      background-color: var(--primary-color);
      cursor: pointer;
      transition: 0.2s linear;
      font-size: 1rem;
      color: var(--text-color-white);
      &:hover {
        background-color: var(--text-color-white);
        color: var(--primary-color);
      }
    }
    span {
      color: var(--primary-color);
      font-weight: 500;
    }
  }
  &--products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 50px;
    margin-top: 30px;
    overflow: hidden;
    &__item {
      height: 90px;
      display: flex;
      justify-content: start;
      align-items: center;
      background-color: var(--color--light);
      padding: 10px;
      border: 1px solid var(--line-color);
      &--image {
        height: 100%;
      }
      img {
        height: 100%;
      }

      &--desc {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        a {
          width: max-content;
          color: #000;
          font-weight: 500;
          border: none;
          border-bottom: 1px solid transparent;
          &:hover {
            color: rgba(45, 45, 192, 0.607);
            border-bottom: 1px solid rgba(45, 45, 192, 0.607);
          }
        }

        &--prices {
          display: flex;
          gap: 10px;
          font-weight: 600;
          .old_price {
            text-decoration: line-through;
            color: red;
            font-size: 0.8rem;
          }
          .new_price {
            color: green;
          }
        }
      }
    }
  }

  @include desktop {
    &--products {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @include mobile {
    &--products {
      grid-template-columns: 1fr;
    }
  }

  @include extra-small {
    &--products {
      row-gap: 10px;
      &__item {
        font-size: 14px;
        letter-spacing: -0.5px;
        &--image {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    &--head {
      font-size: 1.2rem;
      button {
        height: 100%;
        width: auto;
        padding: 5px;
      }
    }
  }
}

.header_swiper {
  margin: 30px 0;
  .swiper-pagination {
    position: absolute;
    bottom: 0;
    &-bullet {
      background-color: var(--primary-color);
      border-radius: 3px;
      transition: 0.3s;
    }

    &-bullet-active {
      width: 25px;
    }
  }

  .swiper-next-btn,
  .swiper-prev-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 2rem;

    @include desktop {
      display: none;
    }

    &.hide {
      pointer-events: none !important;
      color: #c4c4c5;
    }
  }

  .swiper-next-btn {
    right: 3%;
  }

  .swiper-prev-btn {
    left: 3%;
  }

  &--slide {
    & > div {
      &.reverse_slide {
        flex-direction: row-reverse;
      }
      height: 520px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 150px;
      display: flex;

      & > div {
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        img {
          object-fit: contain;
        }
        p {
          font-size: 48px;
          line-height: 1;
          width: 100%;
        }
        h3 {
          font-weight: 700;
          font-size: 50px;
          line-height: 1.1;
          width: 100%;
        }
        & > span {
          font-weight: 400;
          font-size: 24px;
          display: inline-block;
          width: 100%;
        }
        button {
          color: var(--text-color);
          border-radius: 3px;
          border: 2px solid var(--text-color);
          font-size: 14px;
          padding: 18px 35px;
          background-color: transparent;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: var(--text-color);
            color: #fff;
          }
        }
      }

      @include tablet {
        height: 400px;
        gap: 70px;
        & > img {
          height: 370px;
        }
        & > div {
          .text-light {
            font-size: 2rem;
          }
          h3 {
            font-size: 2.2rem;
          }
          & > span {
            font-size: 1rem !important;
          }
        }
      }
      @include mobile {
        height: 350px;
        gap: 35px;
        & > img {
          height: 350px;
          object-fit: contain;
        }
        & > div {
          .text-light {
            font-size: 1.5rem;
          }
          h3 {
            font-size: 1.7rem;
          }
          & > span {
            font-size: 1rem !important;
          }
        }
      }

      @include extra-small {
        height: 250px;
        gap: 1px;
        & > img {
          height: 200px;
        }
        & > div {
          .text-light {
            font-size: 1rem;
          }
          h3 {
            font-size: 1.2rem;
          }
          & > span {
            font-size: 0.8rem !important;
          }
        }
      }
      @include extra-extra-small {
        height: 225px;
        gap: 1px;
        & > img {
          height: 225px;
        }
        & > div {
          .text-light {
            font-size: 0.9rem;
          }
          h3 {
            font-size: 1rem;
          }
          & > span {
            font-size: 0.7rem !important;
          }
        }
      }
    }
  }
}
