.shop_products {
  margin: 20px 0;

  &--content {
    display: grid;
    grid-template-columns: 3fr 11fr;
  }

  &--filter {
    padding: 20px 25px 20px 25px;
    position: sticky;
    height: min-content;
    top: 20px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    border: 1px solid #ddd;
    h4 {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .filter--categories {
      ul {
        li {
          font-size: 1rem;
          cursor: pointer;
          margin-bottom: 5px;
          color: #555;
          padding-left: 10px;
          position: relative;

          &::after {
            content: "";
            margin-right: 10px;
            position: absolute;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            left: -5px;
            background-color: var(--primary-color);
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: 0.3s;
          }
          &.active {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &--list {
    padding: 0 30px;
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    &--content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      min-height: 470px;
    }

    &--pagination {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        cursor: pointer;
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ddd;
        background-color: var(--primary-color);
        color: #fff;
        &.disabled {
          background-color: #ddd;
          cursor: default;
          color: #000;
          display: none;
        }

        &.pagination_current_page {
          background-color: #fff;
          color: #000;
        }
      }
      ul {
        display: flex;
        gap: 10px;
      }
    }
  }

  .reset_filter {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 5px;
    color: #555;
    transition: 0.3s;
    &:hover {
      background-color: #ddd;
    }
  }
}

.products_not_found {
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}
