@import "../../mixins.scss";

.product {
  &.product_loading {
    .product--img {
      background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f2f2f2 38%,
        #f2f2f2 40%,
        #e5e5e5 48%
      );
      background-size: 200% 100%;
      background-position: 100% 0;
      animation: load 2s infinite;
      border-radius: 5px;
      img {
        display: none;
      }
    }
    .product--rating {
      background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f2f2f2 38%,
        #f2f2f2 40%,
        #e5e5e5 48%
      );
      background-size: 200% 100%;
      background-position: 100% 0;
      animation: load 2s infinite;
      border-radius: 5px;
      .product__rating__star {
        opacity: 0;
      }
    }
    .product--name {
      background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f2f2f2 38%,
        #f2f2f2 40%,
        #e5e5e5 48%
      );
      background-size: 200% 100%;
      background-position: 100% 0;
      animation: load 2s infinite;
      border-radius: 5px;
      a {
        opacity: 0;
      }
    }
    .product--price {
      background: linear-gradient(
        120deg,
        #e5e5e5 30%,
        #f2f2f2 38%,
        #f2f2f2 40%,
        #e5e5e5 48%
      );
      background-size: 200% 100%;
      background-position: 100% 0;
      animation: load 2s infinite;
      border-radius: 5px;
      div {
        opacity: 0;
      }
    }
  }

  margin-top: 40px;
  border: 1px solid var(--line-color);
  width: min-content;
  background-color: #fff;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  &--img {
    width: 260px;
    height: 264px;
    overflow: hidden;
    position: relative;
    margin-bottom: 3px;
    img {
      width: 260px;
      transition: 0.5s;

      &:nth-child(2) {
        opacity: 0;
        position: absolute;
        z-index: 1;
        left: 0;
      }
      @include desktop {
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  &--rating {
    margin-bottom: 10px;
  }

  &--name {
    margin-bottom: 10px;
    a {
      color: #000;
      transition: 0.3s;
      font-weight: 500;
      &:hover {
        color: #2563eb;
      }
    }
  }
  &--price {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &__item {
      display: flex;
      gap: 5px;
      font-size: 1rem;
      font-weight: 600;
      &.discount {
        color: #555;
        text-decoration: line-through;
        font-weight: 300;
      }
      &.new--price {
        color: #ef262c;
      }
    }
  }

  &--addToCart {
    width: 90%;
    position: absolute;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    bottom: -35px;
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      width: 40%;
      height: 30px;
      border: none;
      outline: none;
      text-align: center;
      border: 1px solid #eaeaea;
    }
    button {
      cursor: pointer;
      background-color: var(--primary-color);
      border: none;
      outline: none;
      bottom: -35px;
      padding: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;
      font-weight: 400;
      left: 5%;
      color: #fff;
      height: 30px;
      &.decrease_quantity_btn,
      &.increase_quantity_btn {
        width: 30%;
        transition: 0.3s;
        &:hover {
          background-color: #eaeaea;
          color: #000;
        }
      }
      &:disabled {
        background-color: #555;
        color: #fff;
        cursor: not-allowed;
        &:hover {
          background-color: #555;
        }
      }
    }
    @include desktop {
      bottom: auto;
      position: relative;
      margin: 10px auto;
      width: 100%;
      height: 30px;
      overflow: hidden;
    }
  }
  &--actions {
    position: absolute;
    right: -50px;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
    & > div {
      background-color: #f8f8f8;
      cursor: pointer;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 34px;
      width: 34px;
      &.wish_loading {
        background-color: #fff;
        div {
          height: 100%;
          width: 100%;
          border: 3px solid var(--primary-color);
          border-bottom-color: #fff;
          margin: 5px 0;
          border-radius: 50%;
          animation: rotate1 1s both infinite;
        }
        &::after {
          display: none !important;
        }
        svg {
          display: none;
        }
      }

      &::after {
        content: attr(data-title);
        background-color: var(--primary-color);
        width: max-content;
        height: 15px;
        color: #fff;
        position: absolute;
        right: 160%;
        top: 50%;
        transform: translate(0, -50%);
        padding: 6px 0;
        z-index: 1;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::after {
        right: 100%;
        opacity: 1;
      }
    }
  }
  &:hover {
    .product--addToCart {
      bottom: 11px;
    }
    .product--img {
      img:nth-child(1) {
        opacity: 0;
      }
      img:nth-child(2) {
        z-index: 1;
        opacity: 1;
      }
    }
    .product--actions {
      right: -5px;
    }
  }
  @include desktop {
    .product--actions {
      transform: none;
      flex-direction: row;
      bottom: 125px;
      right: 20px;
      top: auto;
      &__maximize {
        display: none;
      }
      & > div {
        background-color: transparent;
        &::after {
          display: none;
        }
      }
    }
    &:hover {
      .product--img {
        img:nth-child(1) {
          opacity: 1;
        }
      }
      .product--addToCart {
        bottom: auto;
      }
      .product--actions {
        right: 20px;
      }
    }
  }
}

body {
  background-color: var(--line-color);
}

@keyframes load {
  100% {
    background-position: -100% 0;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.add_loading {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid #ddd;
  border-bottom: 3px solid #555;
  animation: rotate 1s both infinite;
}
