.product {
  margin-top: 40px;
  border: 1px solid var(--line-color);
  width: min-content;
  background-color: #fff;
  padding: 20px;
  padding-top: 40px;
  position: relative;
  overflow: hidden;
  &--img {
    width: 260px;
    overflow: hidden;
    img {
      width: 260px;
    }
  }

  &--rating {
    margin-bottom: 10px;
    svg {
      font-size: 1rem;
      color: #ffa800;
    }
  }

  &--name {
    margin-bottom: 10px;
    a {
      color: #000;
      transition: 0.3s;
      font-weight: 500;
      &:hover {
        color: #2563eb;
      }
    }
  }
  &--price {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    &__item {
      display: flex;
      gap: 5px;
      font-size: 1rem;
      font-weight: 600;
      &.discount {
        color: #555;
        text-decoration: line-through;
        font-weight: 300;
      }
      &.new--price {
        color: #ef262c;
      }
    }
  }

  &--addToCart {
    button {
      background-color: var(--primary-color);
      border: none;
      outline: none;
      width: 90%;
      padding: 5px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-weight: 400;
      position: absolute;
      left: 5%;
      bottom: -35px;
      transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
      cursor: pointer;
    }
  }
  &--actions {
    position: absolute;
    // right: -5px;
    right: -50px;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    & > div {
      background-color: #f8f8f8;
      cursor: pointer;
      padding: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      &::after {
        content: attr(data-title);
        background-color: var(--primary-color);
        width: max-content;
        height: 15px;
        color: #000;
        position: absolute;
        right: 160%;
        top: 50%;
        transform: translate(0, -50%);
        padding: 6px 0;
        z-index: 1;
        transition: 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
      }

      &:hover::after {
        right: 100%;
        opacity: 1;
      }
    }
  }
  &:hover {
    .product--addToCart {
      button {
        bottom: 10px;
      }
    }
    .product--actions {
      right: -5px;
    }
  }
}

body {
  background-color: var(--line-color);
}
