@import "../../../../mixins.scss";

.header {
  padding: 0 14px !important;
}

.header--top {
  background-color: #f5f6f8;
  &--content {
    & > p {
      @include extra-extra-small {
        font-size: 10px;
      }
    }
    * {
      font-size: 12px;
      color: var(--text-color);
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44.5px;
    a {
      color: var(--text-color);
      transition: 0.1s;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    ul {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &--auth {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}

.header--main {
  padding: 32px 0;
  &--content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header--logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    .diff-text {
      color: var(--primary-color);
    }
    @include extra-extra-small {
      font-size: 1rem;
    }
  }

  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    .header--phone {
      width: 148px;
      display: flex;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        span {
          color: var(--primary-color);
        }
      }
      svg {
        align-self: center;
      }
      p {
        display: flex;
        flex-direction: column;
        font-weight: 300;
      }
      span {
        font-weight: 600;
        transition: 0.3s;
      }
      @include mobile {
        display: none;
      }
      @include extra-extra-small {
        width: auto;
        svg {
          width: 17px;
          height: 15px;
        }
        p {
          font-size: 14px;
        }
        span {
          font-weight: 500;
        }
      }
    }
    ul {
      display: flex;
      gap: 15px;
      a,
      li {
        position: relative;
        &.header_count,
        &.header_basket {
          &::after {
            content: attr(data-count);
            position: absolute;
            background-color: var(--primary-color);
            height: 21px;
            width: 21px;
            right: 5px;
            top: -5px;
            display: grid;
            place-items: center;
            border-radius: 50%;
            color: #fff;
            pointer-events: none;
          }
        }
        .header-icon {
          height: 27px;
          width: 27px;
        }
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        transition: 0.3s;
        &:hover {
          color: var(--primary-color);
        }
      }
      @include extra-extra-small {
        gap: 8px;
        li {
          a {
            font-size: 14px;
          }
          .header-icon {
            width: 20px !important;
            height: 20px !important;
          }
        }
      }
    }
  }
}

.header--bottom {
  height: 52px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    @include extra-small {
      flex-direction: column;
      gap: 10px;
    }
    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      @include extra-small {
        width: 100%;
        justify-content: center;
      }

      & > ul {
        display: flex;
        align-items: center;
        gap: 15px;
        width: max-content;
        @include mobile {
          gap: 9px;
        }
        @include extra-small {
          width: 100%;
          justify-content: space-between;
        }
        a {
          font-weight: 600;
          color: var(--color-text);
          display: inline;
          position: relative;
          overflow: hidden;
          transition: 0.3s;
          @include mobile {
            font-size: 14px;
          }
          &:hover {
            color: var(--primary-color);
          }
          &:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -5px;
            background: var(--primary-color);
            height: 3px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          &:hover:after,
          &:focus:after,
          &:active:after {
            left: 0;
            right: auto;
            width: 100%;
          }
          &.active {
            color: var(--primary-color);
            &::after {
              left: 0;
              right: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }

  &__track_order {
    margin-right: 32px;
    @include mobile {
      margin-right: 16px;
    }
  }
  &__track_order,
  &__daily_deals {
    color: #000;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    i {
      vertical-align: middle;
      margin-right: 12px;
      font-size: 1.2rem;
    }
    &:hover {
      color: var(--primary-color);
    }
    @include mobile {
      font-size: 14px;
      i {
        font-size: 14px;
        margin-right: 8px;
      }
    }
  }
}
