@import "../../mixins";
.header {
  margin-top: 10px;
  &--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }

  &--logo {
    font-size: 1.3rem;
    width: 150px;
    font-weight: 700;
    &__text {
      color: var(--primary-color) !important;
      color: red;
    }
  }

  &--searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid #efefef;

    .header--searchbar__text {
      height: 40px;
      border: none;
      outline: none;
      padding: 7px 9px;
      border-right: 1px solid #efefef;
    }

    select {
      border: none;
      outline: none;
      height: 40px;
      padding: 7px 9px;
    }

    button {
      height: 100%;
      border: none;
      outline: none;
      height: 40px;
      padding: 0 30px;
      cursor: pointer;
      background-color: var(--primary-color);
    }
  }
  &--actions {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & > div {
      cursor: pointer;
      position: relative;

      &.header--actions__user {
        position: relative;

        &:hover{
          .user_popup{
            opacity: 1;
            z-index: 99;
            pointer-events: all;
          }
        }

        .user_popup {
          position: absolute;
          width: 250px;
          height: 300px;
          background-color: #fff;
          left: 50%;
          transform: translateX(-50%);
          cursor: default;
          top: 97%;
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          border-radius: 10px;
          padding: 10px;
          justify-content: center;
          align-items: center;
          gap:15px;
          opacity: 0;
          z-index: -1;
          pointer-events: none;
          transition: 0.3s;
        }
      }

      &::after {
        content: attr(data-count);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -7px;
        right: -7px;
        width: 20px;
        height: 20px;
        background-color: var(--primary-color);
        border-radius: 50%;
        font-size: 0.8rem;
        display: none;
      }

      &.activeCount::after {
        display: flex;
      }

      &.activeCount::before {
        display: flex;
      }

      &::before {
        content: attr(data-title);
        position: absolute;
        bottom: -55px;
        transform: translateX(-50%);
        left: 50%;
        width: max-content;
        padding: 4px 10px;
        height: 30px;
        background-color: var(--primary-color);
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
        font-size: 0.9rem;
        display: none;
        justify-content: center;
        align-items: center;
        pointer-events: none;
      }

      &:hover::before {
        opacity: 1;
        z-index: 1;
        bottom: -37px;
      }
    }

    &__cart {
      position: relative;

      .cart_view {
        display: none;
      }

      &.visible_cart {
        .cart_view {
          display: block;
        }
      }
    }
  }
}

.signin-btn {
  color: #fff;
  margin: 0 5px;
  border: 1px solid #000;
  padding: 5px 10px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
