.loading_screen{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    top: 0;
    background-color: #fff;
    transition: opacity 0.5s ease-in-out;
    overflow: hidden;
    &.invisible{
        opacity: 0;
        pointer-events: none;
    }
}