@import "../../../../mixins.scss";

.subscribe_news {
  position: relative;
  margin: 20px 0;
  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    h3 {
      font-size: 3rem;
      font-weight: 500;
      margin-bottom: 10px;
      .subscribe_news--color {
        color: var(--primary-color);
      }
    }
    p {
      font-size: 1.4rem;
      font-weight: 400;
      margin-bottom: 20px;
    }

    .subscribe_news--inputgroup {
      label {
        position: relative;

        input {
          width: 300px;
          height: 40px;
          padding: 0.5rem 0.5rem 0.5rem 3rem;
          border: none;
          outline: none;
        }

        i {
          position: absolute;
          font-size: 1.5rem;
          top: 50%;
          left: 1rem;
          transform: translate(0, -50%);
        }
      }
      button {
        cursor: pointer;
        border: none;
        outline: none;
        height: 40px;
        width: 100px;
        transition: 0.2s linear;
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        color: var(--text-color-white);
        &:hover {
          background-color: #fff;
          color: var(--primary-color);
        }
      }
    }
    @include extra-small {
      h3 {
        font-size: 2rem;
        font-weight: 400;
      }
      p {
        font-size: 1rem;
        font-weight: 300;
      }
      .subscribe_news--inputgroup {
        label {
          input {
            width: 200px;
            font-size: 14px;
          }
        }
        button {
          width: auto;
          padding: 0 10px;
        }
      }
    }
    @include extra-extra-small {
      h3 {
        font-size: 1.7rem;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
