.header--top {
  background-color: #f5f6f8;
  &--content {
    * {
      font-size: 12px;
      color: var(--text-color);
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 44.5px;
    a {
      color: var(--text-color);
      transition: 0.1s;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    ul {
      display: flex;
      align-items: center;
      gap: 15px;
    }
    &--auth {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
    }
  }
}

.header--main {
  padding: 32px 0;
  &--content {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header--logo {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    .diff-text {
      color: var(--primary-color);
    }
  }

  .header--search {
    border: 2px solid #336699;
    height: 47px;
    padding: 5px 0;
    flex-basis: 50%;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 0 15px;
    select,
    input,
    button {
      height: 100%;
      border: none;
      outline: none;
    }

    input {
      flex-basis: 100%;
    }
    select {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: red;
        top: 0;
        left: 0;
      }
    }
    button {
      background-color: transparent;
      color: var(--color-text);
      &:hover {
        color: var(--color-primary);
      }
    }
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    .header--phone {
      width: 148px;
      display: flex;
      margin-right: 10px;
      cursor: pointer;
      &:hover {
        span {
          color: var(--primary-color);
        }
      }
      svg {
        align-self: center;
      }
      p {
        display: flex;
        flex-direction: column;
        font-weight: 300;
      }
      span {
        font-weight: 600;
        transition: 0.3s;
      }
    }
    ul {
      display: flex;
      gap: 15px;
      a,
      li {
        .header-icon {
          height: 27px;
          width: 27px;
        }
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-color);
        transition: 0.3s;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }
}

.header--bottom {
  height: 52px;
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      & > ul {
        display: flex;
        align-items: center;
        gap: 15px;
        width: max-content;
        a {
          font-weight: 600;
          color: var(--color-text);
          display: inline;
          position: relative;
          overflow: hidden;
          transition: 0.3s;
          &:hover {
            color: var(--primary-color);
          }
          &:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -5px;
            background: var(--primary-color);
            height: 3px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
          }
          &:hover:after,
          &:focus:after,
          &:active:after {
            left: 0;
            right: auto;
            width: 100%;
          }
          &.active {
            color: var(--primary-color);
            &::after {
              left: 0;
              right: auto;
              width: 100%;
            }
          }
        }
      }
    }
  }
  &__mega_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 999;
    &:hover {
      ul {
        opacity: 1;
        top: 0;
        pointer-events: all;
      }
      div:first-child .feather-chevron-up {
        transform: rotate(180deg);
      }
    }
    &--main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 75px;
      margin-right: 15px;
      height: 100%;
      cursor: pointer;
      padding: 0 8px;
      transition: 0.3s;
      border: 1px solid #ddd;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 600;
        line-height: 100%;
      }
      .feather-chevron-up {
        transition: 0.3s;
      }
      &:hover {
        background-color: #f1f1f1;
      }
    }
    ul {
      position: absolute;
      padding: 0.5rem;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
      top: 20px;
      left: 0;
      transform: translateY(50px);
      background-color: #fff;
      width: calc(100% - 15px);
      flex-direction: column;
      display: flex;
      opacity: 0;
      transition: 0.3s;
      pointer-events: none;
      li {
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 13px 10px;
        transition: 0.3s;
        cursor: pointer;
        &:not(&:last-child) {
          border-bottom: 1px solid #ddd;
        }

        i {
          margin-right: 0.7rem;
        }

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  &__track_order {
    margin-right: 32px;
  }
  &__track_order,
  &__daily_deals {
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    i {
      vertical-align: middle;
      margin-right: 12px;
      font-size: 1.2rem;
    }
    &:hover {
      color: var(--primary-color);
    }
  }
}
