@import "./mixins";
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.container {
  max-width: 1350px;
  margin: 0 auto;

  @include desktop {
    max-width: 1000px;
  }
  @include tablet {
    max-width: 760px;
  }

  @include mobile {
    max-width: 580px;
  }

  @include extra-small {
    max-width: 400px;
  }

  @include extra-extra-small {
    max-width: 100%;
  }
}
